
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Rubik+Vinyl&family=Ubuntu&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');


html{
    background-color: #F3EFE9;
}

body {
    margin: 0; 

}

header{
  width: 100%;

}

nav{
    width: 100%; 
    margin: auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
}

a {
    text-decoration: none;
}

main{
    max-width: 75rem;
    margin: auto;
}

footer{
    text-align: center;

}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -3px;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -2px;
    text-decoration: none;
}

nav h2{
    color: #F3EFE9;
    text-decoration: none;
}

h2:hover{
    color: #E04E14;
}

p{
    font-family: Cormorant, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

hr {
    font-weight: 800;
}

section{
    margin: 9.25rem auto;
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
}

#main_logo{
    text-align: center;
    margin: auto;
    width: 100%;
    background-color: #F3EFE9;
}

#white_edge_logo{
    max-width: 10rem;
    margin-top: 1rem;
}

#art_portfolio_title{
    grid-column-start: 3;
}

#design_portfolio_title{
    grid-column-start: 3;
}

#pic_of_me{
   grid-column: 3/5;
}

#pic_of_me_description{
    grid-column: 6/9;
}

#feeling_small_image{
    grid-column-start:3;
}

#feeling_small_description{
    grid-column: 4/10;
}

#ap1_image{
    grid-column-start:3;
}

#ap1_description{
    grid-column: 4/10;
}

#ap2_image{
    grid-column: 8;
}

#ap2_description{
    grid-column-start: 6;
    text-align: right;
}

#ap3_image{
    grid-column-start:3;
}

#ap3_description{
    grid-column: 4/10;
}

#ap4_image{
    grid-column: 8;
}

#ap4_description{
    grid-column-start: 6;
    text-align: right;
}

#ap5_image{
    grid-column-start:3;
}

#ap5_description{
    grid-column: 4/10;
}

#ap6_image{
    grid-column: 8;
}

#ap6_description{
    grid-column-start: 6;
    text-align: right;
}

#design_header {
    width: 100%;
    height: 10.25rem;
    background-image: url('../img/design_rectangle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

header h2{
    margin-top: 50px;
}

#art_header{
    width: 100%;
    height: 10.25rem;
    background-image: url('../img/art_rectangle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#contact_header{
    width: 100%;
    height: 10.25rem;
    background-image: url('../img/contact_rectangle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#about_header{
    width: 100%;
    height: 10.25rem;
    background-image: url('../img/about_rectangle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}




/* flex-direction: row;
    flex-basis: 2400px; height: 246px;
    align-items: space-evenly;
    flex-wrap: nowrap;
    justify-content: space-evenly; */